*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  overflow-x: hidden;
  font-family: $font-primary;
  font-size: 94%;

  @include media('>phone') {
    font-size: 96%;
  }

  @include media('>tablet') {
    font-size: 98%;
  }

  @include media('>desktop') {
    font-size: 100%;
  }
}

body {
  background-color: $color-dark;
  font-size: 1rem;
  color: $color-light;
}

a {
  text-decoration: none;
}
