$color-primary: #55b1fc;
// $color-trueBlue: #0466c8;
$color-light: #d6e1f8;
$color-lightGrey-1: #cacdcf;
$color-dark: #121a26;

$smooth-shadow: 0 2.8px 2.2px rgba($color-light, 0.011),
  0 6.7px 5.3px rgba($color-light, 0.016),
  0 12.5px 10px rgba($color-light, 0.02),
  0 22.3px 17.9px rgba($color-light, 0.024),
  0 41.8px 33.4px rgba($color-light, 0.029),
  0 100px 80px rgba($color-light, 0.04);

$font-primary: 'Poppins', sans-serif;
$font-lihataja: 'Lihataja', cursive, sans-serif;
$text-shadow: 4px 4px 31px rgba($color-dark, 0.5);
