.landing {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-dark;

  main {
    transform: translateY(-5rem);
    text-align: center;

    div {
      overflow: hidden;
      position: relative;
    }

    h1 {
      line-height: 200%;
      padding: 0 1rem;
      font-family: $font-lihataja;
      text-transform: capitalize;
      font-size: 10.5vw;
      white-space: nowrap;
    }

    h2 {
      text-transform: uppercase;
      font-weight: 600;
      line-height: 150%;
      font-size: 3vw;
      letter-spacing: 3vw;
      opacity: 0.65;
    }
  }
}

@include media('>tablet') {
  .landing {
    main {
      h1 {
        // font-size: 5vw;
        font-size: 8rem;
        padding: 0 3rem;
        // transform: translateX(-1rem) scaleY(2);
        // font-size: 5.5rem;
        // margin-bottom: 6.5rem;
      }

      h2 {
        font-size: 1.5rem;
        letter-spacing: 1.5rem;
      }
    }
  }
}
